.articles-component {
    @media(min-width: 1200px) {
        width: 82%;
        margin: auto;
    }
    .article {
        max-width: 650px;
        text-align: left;
        display: block;
        margin: 0 0 3rem;
        @media(max-width: 767px) {
            padding: 1.25rem;
            box-shadow: 1px 1px 4px #d4d5d7;
            border-radius: 0.25rem;
        }
        @media(min-width: 768px) {
            display: flex;
        }
        .feature-img {
            @media(min-width: 768px) {
                margin-right: 2rem;
            }
            img {
                display: block;
                width: 100%;
                @media(min-width: 768px) {
                    width: 140px;
                }
            }
        }
        .details {
            width: 95%;
            @media(max-width: 767px) {
                margin-top: 1.5rem;
            }
            .tag {
                color: rgb(185, 185, 185);
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                font-size: 0.65rem;
            }
            .title {
                font-family: 'EB Garamond', serif;
                font-weight: 500;
                margin: 0;
                line-height: 1.5rem;
                margin-bottom: 1rem;
                a {
                    color: #000;
                    font-size: 1.125rem;
                    letter-spacing: -0.5px;
                }
                @media(min-width: 768px) {
                    font-size: 1.25rem;
                }
            }
            .description {
                font-size: 0.875rem;
                margin-top: 0.25rem;
                a {
                    color: #6C6B6B;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .others {
                margin-top: 0.75rem;
                display: flex;
                justify-content: space-between;
                .author-time {
                    color: #333;
                    font-size: 0.75rem;
                    a {
                        color: #333;
                        text-decoration: underline;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    @media(min-width: 768px) {
                        font-size: 0.875rem;
                    }
                }
                .actions {
                    display: flex;
                    position: relative;
                    bottom: 0.25rem;
                   img.favorite {
                       width: 22px;
                       &:hover {
                           cursor: pointer;
                       }
                   }
                }
            }
        }
    }
    .sidebar {
        .header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0.75rem;
            min-height: 120px;
            background-color: rgba(199, 255, 224, 0.61);
            .title {
                font-family: 'EB Garamond', serif;
                text-align: left;
                text-transform: capitalize;
                font-size: 1.125rem;
                color: #000000;
                font-weight: 800;
                margin: auto 0;
                @media(min-width: 1200px) {
                    width: 40%;
                    font-size: 1.75rem
                }
            }
            .illustration-mello {
                img {
                    width: 95px;
                    @media(min-width: 768px) {
                        width: 100px;
                    }
                }
            }
        }
        .body {
            background: rgb(250, 249, 249);
            padding: 2.25rem 1.5rem;
            margin: 0.5rem 0;
            .article-preview {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1.5rem;
                .icon {
                    img {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        margin: auto;
                    }
                    .index {
                        color: rgb(173, 173, 173);
                        font-weight: 300;
                        font-size: 1.75rem;
                        letter-spacing: -4px;
                        margin-right: 0.75rem;
                    }
                }
                .detail {
                    text-align: left;
                    .title {
                        font-size: 0.80rem;
                        color: #333;
                        font-weight: 700;
                        line-height: 1.35rem;
                        @media(min-width: 1024px) {
                            font-size: 0.935rem;
                        }
                    }
                    .author {
                        font-size: 0.75rem;
                        color: #555;
                        margin-top: 0.25rem;
                        font-weight: 300;
                        @media(min-width: 1024px) {
                            font-size: 0.875rem;
                        }
                    }
                    .extras {
                        font-size: 0.75rem;
                        color: #777;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}