.article-component {
    @media(min-width: 1200px) {
        width: 82%;
        margin: auto;
    }
    .title {
        font-family: 'EB Garamond', serif;
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.84);
        line-height: 35px;
        @media(min-width: 992px) {
            width: 80%;
            margin: auto;
            font-size: 2rem;
        }
    }
    .user-share {
        display: flex;
        justify-content: space-between;
        margin: 2rem auto;
        @media(min-width: 992px) {
            width: 80%;
        }
        .user {
            display: flex;
            justify-content: flex-start;
            .others {
                align-items: center;
                display: flex;
                flex-direction: column;
                a.name {
                    font-size: 0.75rem;
                    font-weight: 500;
                    margin: 0 0 0.5rem;
                    text-decoration: none;
                    @media(min-width: 768px) {
                        font-size: 0.875rem;
                    }
                }
            }
            .profile-img {
                margin-right: 0.5rem;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    @media(min-width: 768px) {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        .social-favorite {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img {
                width: 22px;
                height: 22px;
                display: block;
                margin-right: 1rem;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .feature-img {
        img {
            display: block;
            width: 100%;
            margin: auto;
        }
    }
    .description {
        font-family: 'EB Garamond', serif;
        text-align: left;
        font-size: 1.125rem;
        margin-top: 1rem;
        color: #444;
        line-height: 2rem;
        @media(min-width: 992px) {
            width: 80%;
            margin: 2rem  auto;
            font-size: 1.25rem;
        }
    }
    .body {
        text-align: left;
        font-size: 0.875rem;
        margin-top: 1rem;
        line-height: 2rem;
        @media(min-width: 992px) {
            width: 80%;
            line-height: 2.5rem;
            margin: 2rem auto;
            font-size: 1rem;
        }
    }
    .new-comment {
        @media(min-width: 992px) {
            padding: 0.75rem 1.25rem;
            width: 85%;
            margin: auto;
            display: block;
        }
        textarea {
            box-shadow: 0 1px 4px rgba(0,0,0,.03);
            border: 1px solid rgba(0,0,0,.09);
            border-radius: 0.25rem;
            width: 100%;
            padding: 1rem;
            &:active, &:focus {
                outline: none;
            }
        }
    }
}
.comments {
    margin: 1rem auto;
    @media(min-width: 992px) {
        width: 80%;
    }
    .comment {
        box-shadow: 0 1px 4px rgba(0,0,0,0.07);
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 0.25rem;
        margin: 1.5rem auto;
        width: 100%;
        padding: 1rem;
        .body {
            margin-bottom: 2rem;
            width: 98%;
        }
        .delete {
            position: relative;
            bottom: 1.35rem;
            opacity: 0.5;
            float: right;
            left: 0.75rem;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
            @media(max-width: 767px) {
                bottom: 1rem;
            }
            img {
                width: 18px;
                height: 18px;
            }
        }
        .author {
            display: flex;
            justify-content: flex-end;
            img {
                display: block;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin-right: 1rem;
            }
            .user {
                display: block;
                a {
                    color: #333;
                    display: block;
                }
            }
        }
    }
}