.landing-component {
    padding: 0 0.75rem;
    width: 100%;
    .banner {
        .banner-text {
            margin-top: 1.5rem;
            .tagline {
                color: rgba(3, 168, 124, 1);
                font-weight: 800;
                font-size: 0.9375rem;
                margin-bottom: 1rem;
                @media(min-width: 768px) {
                    font-size: 1.125rem;
                }
            }
            .title {
                color: #000;
                font-size: 3rem;
                text-align: left;
                line-height: 4.25rem;
                font-weight: 300;
                @media(min-width: 992px) {
                    line-height: 5rem;
                    font-size: 3.25rem;
                    width: 90%;
                }
            }
            @media(min-width: 992px) {
                margin-top: 4rem;
            }
            .intro-text {
                font-size: 0.875rem;
                margin: 1rem 0;
                color: #9ca2a8;
                @media(min-width: 768px) {
                    font-size: 0.9375rem;
                    width: 90%;
                }
            }
        }
        .banner-actions {
            display: flex;
            justify-content: flex-start;
            margin-top: 2rem;
            a {
                display: block;
                margin-left: 0.75rem;
                &.plain {
                    margin-top: 0.75rem;
                }
            }
        }
        .banner-image {
            @media(max-width: 1199px) {
                display: none;
            }
            img {
                width: 100%;
                transition: all 0.5s ease-in;
                animation-name: anim;
                animation-duration: .08s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                @media(min-width: 1280px) {
                    width: 90%;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
    .tags-cover {
        .tags {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            @media(min-width: 992px) {
                max-width: 90%;
            }
            .tag {
                padding: 0.25rem;
                margin: 1rem;
                margin-left: 0;
                background: #fff;
                box-shadow: 1px 1px 3px #dadbdd;
                color: #000;
                font-weight: 400;
                font-size: 0.75rem;
                border-radius: 0.5rem;
                transition: all 0.125s ease-in-out;
                &:hover {
                    cursor: pointer;
                    box-shadow: 1px 1px 12px #dadbdd;
                }
                @media(min-width: 768px) {
                    padding: 0.5rem;
                    font-size: 1rem;
                }
                span.hash {
                    width: 17px;
                    height: 17px;
                    color: #ffffff;
                    background-color: #555;
                    display: inline-block;
                    border-radius: 50%;
                    text-align: center;
                    @media(min-width: 768px) {                       
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
    .about-mclone {
        margin-top: 3rem;
        @media(min-width: 992px) {
            margin-top: 4rem;
        }
        .each-row {
            display: flex;
            justify-content: space-between;
            margin: 2.25rem 0;
            .item {
                display: flex;
                justify-content: flex-start;
                width: 50%;
                img {
                    display: block;
                    margin-right: 0.75rem;
                    width: 25px;
                    height: 25px;
                    box-shadow: 1px 1px 3px #d4d5d7;
                    padding: 0.35rem;
                    border-radius: 50%;
                    filter: grayscale(0.9);
                    @media(min-width: 768px) {
                        width: 45px;
                        height: 45px;
                        margin-right: 1rem;
                    }
                }
                .text {
                    color: #0a2b12;
                    font-weight: 800;
                    position: relative;
                    top: 0.5rem;
                    @media(min-width: 768px) {
                        font-size: 1.125rem;
                    }
                }
            }
        }
        .trial {
            font-size: 1.75rem;
            color: #999;
            font-weight: 300;
            background: rgba(255, 255, 255, 0.801);
            padding: 1rem;
            box-shadow: 1px 1px 0.25rem #d4d5d7;
            border-radius: 0.25rem;
            @media(min-width: 992px) {
                font-size: 2.5rem;
                padding: 1.5rem;
            }
        }
    }
}

@keyframes anim {
    from {
      filter: grayscale(0.5);
    }
    to {
      filter: grayscale(0);
    }
}