.profile-component {
  @media(min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  .profile-card {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    @media(min-width: 768px) {
      width: 30%;
    }
    @media(min-width: 1200px) {
      width: 23%;
      max-width: 277px;
      position: sticky;
      top: 0;
    }
    .header {
      width: 100%;
      height: 100px;
      position: relative;
      background-color: #3498db;
      &:after {
        content: '';
        bottom: 0;
        display: block;
        height: inherit;
        position: absolute;
        background-color: inherit;
        left: 0;
        right: 0;
        transform: skewY(-8deg);
        transform-origin: 100%;
      }
    }
    .profile-img {
      position: relative;
      img {
        display: block;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        position: absolute;
        z-index: 5;
        left: 50%;
        top: -3rem;
        margin-left: -50px;
      }
    }
    .stats {
      margin-top: 5rem;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      .stat {
        text-align: center;
        width: 33%;
        border-right: 1px solid rgba(0, 0, 0, 0.5);
        padding: 0.35rem 0;
        &:last-child {
          border-right: none;
        }
        .val {
          font-size: 1.25rem;
          font-weight: 500;
          color: #333;
          @media(min-width: 992px) {
            font-size: 1.5rem;
          }
        }
        .tag {
          font-size: 0.75rem;
          color: #666;
        }
      }
    }
    .socials {
      padding: 1rem 1.5rem;
      margin-top: 0.5rem;
      .social {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1rem;
        img {
          display: block;
          width: 1.25rem;
          height: 1.25rem;
          margin-right: 0.5rem;
        }
        a {
          font-size: 0.75rem;
          color: #555;
          text-decoration: underline;
        }
      }
    }
    .user-details {
      margin-bottom: 1rem;
      padding: 1rem 1.5rem;
      text-align: left;
      .name {
        font-size: 1.25rem;
        color: #333;
        margin-bottom: 0.5rem;
      }
      .bio {
        font-size: 0.75rem;
      }
    }
  }
  .arts {
    width: 100%;
    @media(min-width: 768px) {
      width: 66%;
      margin: 0 auto;
      padding: 2rem;
    }
    @media(min-width: 1200px) {
      width: 60%;
    }
    .menu {
      padding: 1.5rem;
      display: flex;
      justify-content: space-between;
      @media(min-width: 768px) {
        justify-content: flex-start;
      }
      .menu-item {
        font-size: 0.875rem;
        color: #333;
        margin-right: 1rem;
        &:hover {
          cursor: pointer;
        }
        &.active {
          color: #000;
          .indicator {
            opacity: 1;
          }
        }
        .indicator {
          opacity: 0;
          width: 0.3rem;
          height: 0.3rem;
          background-color: rgb(154, 196, 57);
          border-radius: 50%;
          margin: auto;
        }
      }
    }
  }
  .content {
    .article {
      padding: 1rem 0;
      border-bottom: 0.5px solid #d4d5d7;
      @media(min-width: 1200px) {
        width: 90%;
      }
      &.fav {
        display: flex;
        .fav {
          position: relative;
          top: 0.7rem;
          img {
            width: 22px;
            height: 22px;
          }
        }
      }
      a {
        padding: 0.5rem 1rem;
        display: block;
        text-decoration: none;
        color: #555;
        text-align: left;
        .title {
          color: #222;
          font-size: 0.875rem;
          font-weight: 500;
          margin-bottom: 0.5rem;
          @media(min-width: 768px) {
            font-size: 0.935rem;
          }
        }
        .desc {
          font-size: 0.75rem;
          color: #666;
        }
      }
    }
    .follow {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      box-shadow: 0 1px 4px rgba(0,0,0,.04);
      border: 1px solid rgba(0,0,0,.09);
      padding: 0.75rem;
      margin-bottom: 1.5rem;
      @media(min-width: 1200px) {
        width: 90%;
      }
      img {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 0.75rem;
      }
      .content {
        .name {
          color: #333;
          font-size: 1rem;
          margin-bottom: 0.5rem;
        }
        .bio {
          color: #555;
          font-size: 0.80rem;
          margin-bottom: 0.5rem;
        }
      }
    }
    .empty {
      img {
        width: 250px;
        height: auto;
        margin: 1.5rem auto;
        display: block;
      }
    }
  }
}