.form-component {
   background-image: url('../../images/bg-register.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: auto;
   @media(max-width: 767px) {
       background-size: contain;
   }
   &.login {
       background-size: contain;
   }
    .component-heading2 {
        max-width: 350px;
        margin: 0.75rem auto;
        text-align: center;
    }
}

.kard {
    width: 80%;
    margin: 1.5rem auto;
    @media(min-width: 768px) {
        width: 500px;
    }
}