.nav-cover {
    @media(max-width: 767px) {
        display: none;
    }
    padding: 1.2rem 1rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media(min-width: 768px) {
        justify-content: space-between;
    }
    .logo {
        font-weight: 600;
        font-size: 1.25rem;
    }
    nav.menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        .each-menu {
            margin: 0.5rem 1rem;
            font-size: 0.875rem;
            color: rgb(90, 89, 89);
            font-weight: 500;
            transition: all 0.125s ease-out;
            cursor: pointer;
            &.text {
                color: #6C6B6B;
                font-weight: 300;
            }
            &.item {
                &:hover {
                    color: #333;
                    font-weight: 600;
                    text-decoration: underline;
                }
            }
        }
    }
}

.mobile-menu {
    @media(min-width: 768px) {
        display: none;
    }
}