body {
    font-family: 'Nunito';
    color: #6C6B6B;
    background-color: rgb(252, 252, 253);
}

#root {
    max-width: 100vw;
    overflow: hidden;
}

//-------------------   utils  start  -------------------
.hide {
    display: none !important;
}

.component-heading1 {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
}
.component-heading2 {
    font-size: 0.8875rem;
    color: rgba(117, 117, 117, 0.82);
    font-family: 'EB Garamond', serif;
}

.form-heading {
    font-family: 'Nunito';
    max-width: 330px;
    margin: 0.75rem auto;
    text-align: center;
}

.component-spacing {
    padding: 1rem;
    @media(min-width: 992px) {
        padding: 2rem 3rem;
    }
}

.slide-in {
	position: relative;
	animation: slideIn 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mt-5rem {
    margin-top: 5rem;
} 

.like-button {
    display: inline-block;
    position: relative;
    font-size: 1.75rem;
    bottom: 0.875rem;
    &:active, &:focus {
        outline: none;
    }
    cursor: pointer;
    &::before {
      font-size: 1.75rem;
      color: #333;
      content: '♥';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &::after {
      font-size: 2.25rem;
      color: #ff0909;
      content: '♥';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.2s;
      animation: scaleOpacity 0.6s cubic-bezier(0.03, 1, 0.65, 1.22);
        // z-index: -5;
    }
    &.liked::after {
      transform: translate(-50%, -50%) scale(1.1);
    }
      
  }

//-----------------------   utils end  -----------------------
//-----------------------   forms  start  -----------------------
.bttn {
    width: 100px;
    height: 43px;
    // border-radius: 1.75rem;
    font-weight: 600;
    font-size: 0.875rem;
    border: none;
    display: block;
    transition: 0.15s all ease-in-out;
    &:disabled {
        cursor: not-allowed !important;
    }
    a {
        color: #FFFFFF;
        text-decoration: none;
    }
    @media(min-width: 768px) {
        width: 123px;
        height: 38px;
        font-size: 0.935rem;
    }
    &.small {
        width: 55px;
        height: 1.5rem;
        font-size: 0.65rem;
    }
    &.actions {
        border: 1px solid #777;
        background: none;
        height: 1.25rem;
        &:hover {
            box-shadow: none;
        }
    }
    &:hover {
        cursor: pointer;
        box-shadow: 1px 1px 4px rgba(49, 49, 49, 0.05);
    }
    &:active, &:focus {
        outline: none;
    }
    &.primary {
        background-color: #C2FFEC;
        color: #333;
    }
    &.danger-pill {
        background: none;
        border: 1px solid #ff0909;
        color: #ff0909;
    }
    &.plain {
        color: #01BA82;
        text-decoration: underline;
        background: none;
        &:hover {
            text-decoration: none;
            box-shadow: none;
        }
    }
    &.dye {
        background: linear-gradient(270deg, rgba(1, 122, 162, 0.86) 6.07%, #019E90 53.62%, #01BA82 90%);
        color: #fff;
    }
}

.form-container {
    width: 100%;
    .form-item {
        margin-bottom: 1.25rem;
        label {
            display: block;
            font-size: 0.875rem;
            color: #333;
            margin-bottom: 0.75rem;
        }
        input, textarea {
            width: 100%;
            border: 0.75px solid #888;
            border-radius: 0.25rem;
            padding: 0.25rem 1rem;
            font-size: 0.875rem;
            &:active, &:focus {
                outline: none;
                border: 1.75px solid #019E90;
            }
        }
        input {
            height: 44px;
        }
    }
}


//-------------------   forms  end  ------------------
//-------------------   cards  start  -------------------
.kard {
    background: #FFFFFF;
    box-shadow: 2px 0px 0.75rem rgba(122, 122, 122, 0.3);
    // border-radius: 2rem;
    padding: 1.50rem;
    font-weight: 500;
    @media(min-width: 768px) {
        padding: 2.25rem;
    }
    &-title {
        font-weight: 600;
        font-size: 1.75rem;
        line-height: 48px;
        margin-bottom: 0.875rem;
        font-family: 'EB Garamond', serif;
    }
}
//-------------------   cards end   -------------------
//---------------- keyframes ------------------
@keyframes heartbeat {
    from {
      opacity: 1;
    }
    to {
      transform: scale(3);
      opacity: 0;
    }
}

@keyframes likeFly {
    from {
      opacity: 1;
    }
    to {
      transform: scale(3) rotate(45deg) translateY(-90px);
      opacity: 0;
    }
}

@keyframes slideIn {
	from {
		transform: translateY(1rem);
	}

	to {
		transform: translateY(0);
	}
}